body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}
h1 {
  font-weight: 600;
}

.weather-app {
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=744&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  color: #fff;
  position: relative;
}

.container {
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  padding: 2em;
}

.setTime {
  margin-top: 5em;
  margin-left: 5em;
}

.date-time {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 3em;
}
.weather {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
}
.tem,
.name,
.icon {
  margin: 0 0.3em;
}
.weather h1 {
  margin: 0;
  margin-top: 0.2em;
  font-size: 4em;
}

.panel {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
  font-size: 1.5em;
  background-color: rgba(110, 110, 110, 0.25);

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  padding: 5em 3em;
  z-index: 1;
  border: 1px solid rgba(225, 225, 225, 0.18);
  /* background-image: url(https://images.unsplash.com/photo-1436891620584-47fd0e565afb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80); */
}

.details p {
  color: red;
  font-size: 2em;
}
.submit {
  position: absolute;
  top: 5.5em;
  right: 3.3em;
  padding: 0.9em;
  margin: 0;
  border: none;
  background-color: #fa6d1b;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
.submit:hover {
  background-color: #fff;
  color: #000;
}
.search {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 1em;
  width: 80%;
  color: #fff;
  font-size: 1.1em;
}

.search:focus {
  outline: none;
}
ul h4 {
  margin-bottom: 4em;
}
ul li {
  font-size: 1.1em;
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #333;
  margin-bottom: 2px;
}
.infoCard {
  position: absolute;
  left: 25em;
  top: 5em;
  padding: 2em;
  width: 40%;
  height: 80%;
  border-radius: 10px;
  background-color: #ccc;
  color: #333;
}
.infoClick {
  font-size: 0.8em;
  font-weight: 400;
  padding: 6px;
  border-radius: 15px;
  background-color: #ccc;
  transition: 0.7s ease;
}
.infoClick:hover {
  background-color: rgb(179, 178, 178);
  transform: scale(1.1);
}
#error {
  color: red;
  font-size: 3em;
}

@media (max-width: 1023px) {
  body {
    font-size: 10px;
  }
  .infoCard {
    width: 50%;
    height: 50%;
  }
}
@media (max-width: 641px) {
  .setTime {
    margin-left: 2em;
  }
  .weather h1 {
    font-size: 2em;
  }
  .infoCard {
    width: 60%;
    height: 50%;
    left: 10em;
  }
}
